{% extends 'base.html' %}

{% block pageheader %}
    <h2>Recipe List</h2>
{% endblock %}

{% block body %}
    <ul>
        {% for recipe in recipe_list %}
            <li>
                <nav>
                    <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
                </nav>
            </li>
        {% endfor %}
    </ul>

    <br>
    {% if user.is_authenticated %}
        <i>Want to create your own recipe?</i>
        <a href="/recipe/add/">Head to Recipe Form</a>
    {% else %}
        <i>Login to your account to create a new recipe</i>
    {% endif %}
{% endblock %} 