{% extends 'base.html' %}

{% block pageheader %}
    <h2>{{ recipe.name }} Recipe</h2>
{% endblock %}

{% block styles %}
<style>
    img {
        width: auto;
        max-height: 300px;
    }
</style>
{% endblock %}

{% block body %}
    {% for img in recipe.image.all %}
        <div>
            <img src="{{ img.image.url }}" alt="{{ img.description }}">
        </div>
    {% empty %}
        <p>No images available for this recipe.</p>
    {% endfor %}

    <i>Add your own images to the recipe!</i>
    <a href="{% url 'ledger:recipe_image' pk=recipe.pk %}">Head to Image Form</a>

    <div>
        <b>Author: </b>{{ recipe.author.name }}
    </div>

    <ul>
        {% for rec in recipe.ingredients.all %}
            <li>{{ rec.ingredient.name }} - {{ rec.quantity }}</li>
        {% empty %}
            <li>No ingredients list yet for this recipe.</li>
        {% endfor %}
    </ul>
    <div>
        Created on {{ recipe.created_on }} <br>
        Last updated on {{ recipe.updated_on }}
    </div>

    <br>
    <i>Looking for another recipe?</i>
    <a href="/recipes/list/">Back to Recipe List</a>
{% endblock %} 